numpy==1.23.0# NumPy is the fundamental package for scientific computing with Python.
pandas==1.4.1 #     Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the Python programming language.
matplotlib==3.5.1 # Matplotlib is a comprehensive library for creating static, animated, and interactive visualizations in Python.
seaborn==0.11.2 # Seaborn is a Python data visualization library based on matplotlib. It provides a high-level interface for drawing attractive and informative statistical graphics.
scipy==1.7.3 # SciPy is a Python-based ecosystem of open-source software for mathematics, science, and engineering.
scikit-learn==1.0.2 # Scikit-learn is a free software machine learning library for the Python programming language.
requests==2.27.1 #  Requests is an elegant and simple HTTP library for Python, built for human beings.
beautifulsoup4==4.10.0 # Beautiful Soup is a Python library for pulling data out of HTML and XML files. It works with your favorite parser to provide idiomatic ways of navigating, searching, and modifying the parse tree.
lxml==4.7.1     # lxml is a Python library which allows for easy handling of XML and HTML files, and can also be used for web scraping.
selenium==4.1.0 # Selenium is an umbrella project encapsulating a variety of tools and libraries enabling web browser automation.    
behave==1.2.6   # BDD test framework
simulink==2.4.0  # No new updates found, make sure this version is still compatible
scikit-image==0.18.3 # Scikit-image is a collection of algorithms for image processing.
pyod==0.9.4 # PyOD is a comprehensive and scalable Python toolkit for detecting outlying objects in multivariate data.
pytorch-lightning       # PyTorch Lightning is the lightweight PyTorch wrapper for ML researchers. Scale your models. Write less boilerplate.
gensim                # Gensim is a Python library for topic modelling, document indexing and similarity retrieval with large corpora.
xgboost # XGBoost is an optimized distributed gradient boosting library designed to be highly efficient, flexible and portable. It implements machine learning algorithms under the Gradient Boosting framework.             
spacy==3.2.0        # spaCy is a free, open-source library for advanced Natural Language Processing (NLP) in Python.
nltk    
pyomo       
dash            # Dash is a Python framework for building analytical web applications.
pymc3        # Probabilistic Programming in Python: Bayesian Modeling and Probabilistic Machine Learning with Theano
teamcenter_client # Teamcenter Client is a Python library for accessing Teamcenter via the Teamcenter Service Oriented Architecture (SOA) interface.
jira-python # Python library for interacting with JIRA via REST APIs.
jira_api # Python library for interacting with JIRA via REST APIs.
